POSTGRES_USER=n8n
POSTGRES_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD_32CHARS_MIN
POSTGRES_DB=n8n

REDIS_PASSWORD=

N8N_ENCRYPTION_KEY=CHANGE_THIS_TO_A_VERY_LONG_AND_RANDOM_STRING_AT_LEAST_32_CHARS
GENERIC_TIMEZONE=Asia/Tehran
N8N_LOG_LEVEL=info
N8N_LOG_OUTPUT=console
N8N_HOST_PORT=5678
N8N_PROTOCOL=http
N8N_HOST=0.0.0.0

DATABASE_URL=postgres://n8n:CHANGE_ME_TO_A_STRONG_PASSWORD_32CHARS_MIN@postgres:5432/n8n
REDIS_URL=redis://redis:6379

# Performance
EXECUTIONS_MODE=regular
N8N_CONCURRENCY_PRODUCTION_LIMIT=-1
N8N_RUNNERS_ENABLED=true
N8N_RUNNERS_MODE=internal
N8N_RUNNERS_MAX_CONCURRENCY=5

EXECUTIONS_DATA_MAX_AGE=168
EXECUTIONS_DATA_PRUNE_MAX_COUNT=50000
EXECUTIONS_DATA_SAVE_ON_SUCCESS=all
EXECUTIONS_DATA_SAVE_ON_ERROR=all
EXECUTIONS_DATA_SAVE_MANUAL_EXECUTIONS=true